.illustrator-div:hover .illustrator-paragraph{
    display: block;
}
.illustrator-div:hover .illustrator-icon{
    position: absolute;
    width: 300px;
    height: 300px;
    left:20%;
    top:12%
}

.kids-div:hover .kids-paragraph{
    display: block;
}
.kids-div:hover .kids-icon{
    position: absolute;
    width: 230px;
    height: 230px;
    left:25%;
    top:25%
}

@media only screen and (max-width: 1312px) and (min-width: 992px) {
    .illustrator-div:hover .illustrator-icon{
        position: absolute;
        width: 300px;
        height: 300px;
        left:5%;
        top:12%
    }
    .kids-div:hover .kids-icon{
        position: absolute;
        width: 230px;
        height: 230px;
        left:15%;
        top:25%
    }
}